<strong>Olá, {{ student }}.</strong>
<p>Seja muito bem vindo ao GymPoint. Sua matrícula foi realizada com sucesso.</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> R$ {{ price }} <br />
  <br />
  <small>
    Te aguardamos em breve!
  </small>
</p>